<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="6" verbose="1">

    <listeners>
        <listener class-name="com.trendyol.utils.listeners.TestListener"/>
        <listener class-name="com.trendyol.utils.listeners.AnnotationTransformer"/>
    </listeners>

    <test name="TestLoginCaseInChrome">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="com.trendyol.tests.LoginCasesTest"/>
        </classes>
    </test>

    <test name="TestLoginCaseInFirefox">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="com.trendyol.tests.LoginCasesTest"/>
        </classes>
    </test>

    <test name="TestBoutiqueLoadResponse">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="com.trendyol.tests.BoutiqueLoaderTest"/>
        </classes>
    </test>


</suite>